.tasks-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    background-color: #fff;
}

.tasks-delete {
    width: 40px;
    background-color: rgb(226, 108, 108);
}

.tasks-add {
    width: 40px;
    background-color: rgb(29, 199, 57);
    margin-right: 5px;
}

.task-item__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.task-item__content.completed {
    text-decoration: line-through;
    color: grey;
}

.tasks-item__checkbox {
    cursor: pointer;
}