.tasks {
    width: 50%;
    /* height: 30px; */
    background-color: rgb(199, 194, 194);
    display: flex;
    justify-content: center;
    border: 1px solid black;
    /* box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.37); */
}

.tasks-block {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}
